@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/*grijs #899CA0*/
/*donkergroen #1C2B32*/

.dev {
    border: 2px solid red;
}

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/


/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 20px auto;
}

h1, h2 {
    color: #1C2B32;
}

button, footer {
    background-color: #1C2B32;
}

button {
    color: #FFF;
    border: none;
    padding: 15px 30px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

a:link {
    color: #899CA0;
    text-decoration: underline;
}

a:visited {
    color: #899CA0;
}

a:hover {
    color: #899CA0;
    text-decoration: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
body {
    font-family: 'Poppins', sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/
header {
    padding: 50px 100px 150px 100px;
    background-image: url("../assets/images/mountains.jpg");
    background-size: auto;
    background-position: center;
}

header h1 {
    font-weight: bolder;
    font-size: 76px;
}

.container-header {
    margin: 10px auto;
    text-align: center;
    padding: 10px 0 50px 0;
    max-width: 1000px;
}

header p {
    font-weight: 200;
}

form {
    padding-top: 20px;
    padding-bottom: 80px;
}

.input-header {
    padding: 14px 90px 14px 30px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #1C2B32;
    background-color: transparent;
}

input::placeholder {
color: #3b3b3b;
}

.btn-header {
    border-radius: 0 30px 30px 0;
    margin: -5px;
}

/*///////////// 3.2 Testimonial /////////////*/
.title-testimonial {
    padding-top: 20px;
}

.container-quote {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    margin: 40px;
    padding: 30px 90px;
    position: relative;
}

blockquote, .caption-quote {
    font-weight: 200;
}

blockquote {
    padding: 24px 12px 24px 30px;
}

.icon-quote {
    position: absolute;
    top: 54px;
    left: 70px;
}

.img-testimonials {
    width: 44px;
    height: 44px;
}

.caption-quote {
    position: absolute;
    bottom: 46px;
    left: 140px;
    padding-left: 20px;
    font-style: italic;
}

.person-quote {
    vertical-align: middle;
}

/*///////////// 3.3 Support /////////////*/
.title-support {
    padding-bottom: 20px;
}

.img-support {
    margin: 20px 40px;
    border-radius: 20px;
    width: 924px;
}

.support p {
    margin: 0 40px 20px 40px;
    font-weight: 200;
}

.btn-contact {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 40px;
    border-radius: 30px;
}

/*///////////// 3.4 Faq /////////////*/
.container-faq {
    margin-top: 30px;
    padding-bottom: 20px;
}

.list-faq {
    padding-top: 30px;
}

.list-faq p {
    line-height: 1.5;
}

.li-faq {
    font-weight: 200;
    margin: 20px 60px;
}

summary {
    padding-bottom: 10px;
}

summary:hover {
    cursor: pointer;
}

.question-extended {
    color: #FFF;
    background-color: #899CA0;
    border-radius: 20px;
    padding: 24px 20px;
}

/*///////////// 3.5 Footer /////////////*/
footer {
    margin-top: 30px;
    padding: 24px 50px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}